{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                    <i class="material-icons">menu</i>
                </label>
                <ul>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row full-screen align-items-center">
            <div class="right">
                <div class="form">
                    <div class="text-center">
                        <h6>
                            <span id="login-tab">Log In</span>
                            <span id="signup-tab">Sign Up</span>
                        </h6>
                        <input type="checkbox" class="checkbox" id="reg-log">
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap">
                            <div class="card-3d-wrapper">
                                <!-- LOGIN FORM -->
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <h4 class="heading">Log In</h4>
                                        <form method="POST" action="{% url 'login' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" name="username" class="form-style" placeholder="Your Username" required>
                                                <i class="input-icon fa fa-user"></i>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" class="form-style" placeholder="Your Password" required>
                                                <i class="input-icon fa fa-lock"></i>
                                            </div>
                                            <button type="submit" class="btn">Login</button>
                                        </form>
                                        <p class="text-center">
                                            <a href="#" class="link">Forgot your password?</a>
                                        </p>
                                        <!-- Social Login -->
                                        <div class="social-icons">
                                            <a href="{% provider_login_url 'google' %}"><i class="bx bxl-google"></i></a>
                                            <a href="{% provider_login_url 'github' %}"><i class="bx bxl-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- SIGNUP FORM -->
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <h4 class="heading">Sign Up</h4>
                                        <form method="POST" action="{% url 'signup' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" name="username" class="form-style" placeholder="Your Username" required>
                                                <i class="input-icon fa fa-user"></i>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-style" placeholder="Your Email" required>
                                                <i class="input-icon fa fa-envelope"></i>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" class="form-style" placeholder="Your Password" required>
                                                <i class="input-icon fa fa-lock"></i>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="confirm_password" class="form-style" placeholder="Confirm Password" required>
                                                <i class="input-icon fa fa-lock"></i>
                                            </div>
                                            <button type="submit" class="btn">Sign Up</button>
                                        </form>
                                        <!-- Social Login (Fixed) -->
                                        <div class="social-icons">
                                            <a href="{% provider_login_url 'google' %}"><i class="bx bxl-google"></i></a>
                                            <a href="{% provider_login_url 'github' %}"><i class="bx bxl-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>

</body>
</html>
